.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal section .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.reveal section .container img {
    width: auto;
    height: 75px;
    margin-right: 50px;
}

.reveal section .container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 2 - 2rem);
}

.reveal section .container div:first-child {
    align-items: flex-end;
}

.reveal section .container div:last-child {
    align-items: flex-start;
}

.face-photo {
    width: auto;
    height: 330px;
}

.photo-corner {
    border-radius: 25px;
}

.reveal section pre {
    box-shadow: none;
}

.reveal section pre code {
    font-size: 1.3em;
    line-height: 1.1em;
    background-color: #F0F1EB;
}

.reveal section pre code.small {
    font-size: 1em;
}

mark {
    color: red;
    background-color: #F0F1EB;
}
